<app-nav></app-nav>
<button (click)="createUser()"> create User</button>
<button (click)="loginn()"> Login</button>
<button (click)="getProfile()"> Profile</button>
<p>
  <button (click)="downLoadPdf()" >Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="upload($event)">
  <img *ngIf="imgRta" [src]="imgRta" alt="" />
</p>



<app-products></app-products>
<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/> -->

